teachbooks == 0.2.4
sphinx-inline-tabs

git+https://github.com/TeachBooks/TeachBooks-Favourites@all_authors

teachbooks-sphinx-grasple

sphinx-apa-references

# For executing Jupyter Notebooks
myst_nb
numpy
matplotlib
wfdb